<div class="registerForm">
  <div class="container d-flex flex-column">
    <div class="row">
      <form>
        <div class="form-group row mt-3">
          <div class="col sm-12 mb-3 mb-sm-0">
            <div class="row p-2">
              <label for="userName" class="form-label">{{
                HeadingConstants.UserName.Name
              }}</label>
              <input
                type="text"
                name="userName"
                class="form-control mt-0"
                placeholder="{{ HeadingConstants.UserName.Placeholder }}"
                [(ngModel)]="newUser.userName"
              />
            </div>
          </div>
        </div>

        <div class="form-group row mt-3">
          <div class="col sm-12 mb-3 mb-sm-0">
            <div class="row p-2">
              <label for="userEmail" class="form-label">{{
                HeadingConstants.Email.Name
              }}</label>
              <input
                type="email"
                name="userEmail"
                class="form-control mt-0"
                placeholder="{{ HeadingConstants.Email.Placeholder }}"
                [(ngModel)]="newUser.userEmail"
              />
            </div>
          </div>
        </div>

        <div class="form-group row mt-3">
          <div class="col sm-12 mb-3 mb-sm-0">
            <div class="row p-2">
              <label for="userPassword" class="form-label">
                {{ HeadingConstants.Password.Name }}
              </label>
              <input
                type="password"
                class="form-control mt-0"
                placeholder="{{ HeadingConstants.Password.Placeholder }}"
                [(ngModel)]="newUser.userPassword"
                name="userPassword"
              />
            </div>
          </div>
        </div>

        <div class="text-center mt-3 mb-3">
          <button
            mat-fab
            extended
            aria-label="Register"
            (click)="handleFormSubmit(newUser)"
          >
            <span class="customFont">{{ ButtonConstants.Register }}</span>
          </button>
          &nbsp;
          <button
            mat-fab
            extended
            color="warn"
            (click)="closeDialog()"
            aria-label="Cancel"
          >
            <span class="customFont">{{ ButtonConstants.Cancel }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
