.vs
.vscode
**obj
appsettings.development.json
bin
.angular

**node_modules
NotesTracker.Database/Publish/**

# Azurite
__blobstorage__
__queuestorage__
__tablestorage__
__azurite_db*.*

# Environments
**environment.development.ts

# Database Project
NotesTracker.Database/NotesTracker.Database.jfm
NotesTracker.Database/NotesTracker.Database.dbmdl
/NotesTracker.Database/NotesTracker.Database.dbmdl
