<div class="noteEditForm">
  <div class="container d-flex flex-column">
    <div class="row">
      
      <div
        class="container-fluid text-center start-note-loading"
        *ngIf="isLoading()"
      >
        <app-spinner color="accent"></app-spinner>
      </div>

      <form *ngIf="!isLoading()">
        <div class="form-group row mt-3">
          <div class="col sm-12 mb-3 mb-sm-0">
            <div class="row p-2">
              <label for="noteTitle" class="form-label">
                {{ notesConstants.Headings.NoteTitle }}
              </label>
              <input
                type="text"
                name="noteTitle"
                id="noteTitle"
                class="form-control mt-0"
                [(ngModel)]="currentNote().noteTitle"
              />
            </div>
          </div>
        </div>

        <div class="form-group row mt-3">
          <div class="col sm-12 mb-3 mb-sm-0">
            <div class="row p-2">
              <label for="noteDescription" class="form-label">
                {{ notesConstants.Headings.NoteDescription }}
              </label>
              <input
                type="text"
                name="noteDescription"
                id="noteDescription"
                class="form-control mt-0"
                [(ngModel)]="currentNote().noteDescription"
              />
            </div>
          </div>
        </div>

        <div class="text-center mt-3 mb-3">
          <button
            mat-fab
            extended
            color="accent"
            aria-label="update"
            (click)="handleNoteUpdate(currentNote())"
          >
            <span class="customFont">{{
              notesConstants.ButtonTexts.Update
            }}</span>
          </button>
          &nbsp;
          <button
            mat-fab
            extended
            color="warn"
            aria-label="cancel"
            (click)="closeDialog()"
          >
            <span class="customFont">
              {{ notesConstants.ButtonTexts.Cancel }}
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
