<div class="container d-flex flex-column">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center mainHeading">
        {{ addNotesConstants.Header }}
      </h1>
    </div>
    <form>
      <div class="form-group row card mt-3">
        <div class="col sm-12 mb-3 mb-sm-0">
          <div class="row p-2">
            <input
              type="text"
              class="form-control mt-0"
              name="Title"
              [(ngModel)]="newNote.noteTitle"
              (ngModelChange)="handleFormChange($event, 'noteTitle')"
              placeholder="{{ addNotesConstants.TitleBarPlaceHolder }}"
            />
          </div>
        </div>

        <div class="col sm-12 mb-3 mb-sm-0">
          <div class="row p-2">
            <textarea
              type="textarea"
              class="form-control mt-0"
              name="Description"
              rows="8"
              [(ngModel)]="newNote.noteDescription"
              (ngModelChange)="handleFormChange($event, 'noteDescription')"
              placeholder="{{ addNotesConstants.DescriptionPlaceHolder }}"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="text-center mt-3">
        <button
          mat-fab
          extended
          color="primary"
          (click)="handleFormSubmit(newNote)"
          [disabled]="loading"
          class="save-btn"
          aria-label="Save"
        >
          <span class="customFont">{{ addNotesConstants.SaveButton }}</span>
        </button>
        &nbsp;
        <button
          mat-fab
          extended
          color="warn"
          routerLink="/"
          class="cancel-btn"
          aria-label="Cancel"
        >
          <span class="customFont">{{ addNotesConstants.CancelButton }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
