<div class="contaner-fluid d-flex flex-column">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center mainHeading">
        {{ AddNotesConstants.Header }}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <form>
        <div class="addnote-card-container mt-2 mb-3">
          <mat-card class="addnote-card" appearance="outlined">
            <mat-card-content class="form-group row mt-3">
              <div class="col sm-12 mb-3 mb-sm-0">
                <div class="row p-2">
                  <input
                    type="text"
                    class="form-control mt-0"
                    name="Title"
                    [(ngModel)]="newNote.noteTitle"
                    placeholder="{{ AddNotesConstants.TitleBarPlaceHolder }}"
                  />
                </div>
              </div>

              <div class="col sm-12 mb-3 mb-sm-0">
                <div class="row p-2">
                  <textarea
                    type="textarea"
                    class="form-control mt-0"
                    name="Description"
                    rows="8"
                    [(ngModel)]="newNote.noteDescription"
                    placeholder="{{ AddNotesConstants.DescriptionPlaceHolder }}"
                  ></textarea>
                </div>
              </div>
            </mat-card-content>

            <mat-card-actions class="addnote-actions">
              <div class="button-container">
                <button
                  mat-fab
                  extended
                  (click)="handleFormSubmit(newNote)"
                  [disabled]="this.loading()"
                  aria-label="Save"
                >
                  <span class="customFont">{{
                    AddNotesConstants.SaveButton
                  }}</span>
                </button>

                &nbsp;

                <button
                  mat-fab
                  extended
                  color="warn"
                  routerLink="/"
                  class="cancel-btn"
                  aria-label="Cancel"
                >
                  <span class="customFont">{{
                    AddNotesConstants.CancelButton
                  }}</span>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </form>
    </div>
  </div>
</div>
