<div class="row text-center mt-5">
  <div class="col-sm-12">
    <p class="lead">{{ this.subtitleConstant }}</p>
  </div>
</div>

<div *ngIf="this.loading()">
  <p-skeleton width="100%" height="20rem" borderRadius="16px" />
</div>
<div *ngIf="!this.loading()">
  <div class="mwc-container mt-2 mb-3" *ngIf="this.aboutUsData().length > 0">
    <mdb-carousel
      [interval]="3000"
      [animation]="'fade'"
      [controls]="true"
      [dark]="true"
      [keyboard]="true"
    >
      <mdb-carousel-item *ngFor="let item of this.aboutUsData()">
        <mat-card class="mwc-card" appearance="outlined">
          <mat-card-header class="mwc-card-header">
            <mat-card-title class="mwc-card-title mt-2">{{
              item.heading
            }}</mat-card-title>
          </mat-card-header>
          <a [href]="item.link" target="_blank">
            <img
              mat-card-image
              [src]="item.image"
              alt="{{ item.heading }}"
              class="mwc-card-image"
            />
          </a>
          <mat-card-content class="mt-2">
            <p [innerHTML]="item.description"></p>
          </mat-card-content>
        </mat-card>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
</div>
