.mwc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image horizontally */
}

.mwc-card {
  width: 100%;
  text-align: left;
}

.mwc-card img {
  height: 400px;
  width: 100%; /* Ensure the image fits the card width */
  object-fit: cover;
  padding: 10px;
  display: block; /* Ensures the image is treated as a block element */
  margin: 0 auto; /* Centers the image horizontally */
}

.mwc-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 16px;
  box-sizing: border-box;
}

.mwc-card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.mwc-card-content {
  padding: 10px;
  text-align: justify; /* Optional: Align text for better readability */
}