<div class="row text-center mt-5">
  <div class="col-sm-12">
    <p class="lead">{{ mwcObjects.SubTitle }}</p>
  </div>
</div>

<div class="mwc-container mt-2 mb-3">
  <mdb-carousel
    [interval]="3000"
    [indicators]="true"
    [animation]="'fade'"
    [controls]="true"
    [dark]="true"
    [keyboard]="true"
  >
    <mdb-carousel-item *ngFor="let item of this.mwcObjects.Items | keyvalue">
      <mat-card class="mwc-card" appearance="outlined">
        <mat-card-header class="mwc-card-header">
          <mat-card-title class="mwc-card-title mt-2">{{
            item.value.Heading
          }}</mat-card-title>
        </mat-card-header>
        <a [href]="item.value.Link" target="_blank">
          <img
            mat-card-image
            [src]="item.value.Image"
            alt="{{ item.value.Heading }}"
            class="mwc-card-image"
          />
        </a>
        <mat-card-content class="mt-2">
          <p [innerHTML]="item.value.Description"></p>
        </mat-card-content>
      </mat-card>
    </mdb-carousel-item>
  </mdb-carousel>
</div>
