<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="d-flex w-100 container-fluid">
    <div class="navbar-nav mr-auto">
      <a routerLink="/" class="navbar-brand">{{
        HeaderConstants.Headings.Title
      }}</a>
    </div>

    <div class="navbar-nav ml-auto">
      <button mat-fab class="ml-2 theme-toggle-btn" (click)="toggleTheme()">
        {{ isDarkMode ? "☀️" : "🌙" }}
      </button>
      &nbsp; &nbsp;
      <button mat-fab class="ml-2" (click)="openLoginDialog()">Login</button>
    </div>
  </div>
</nav>
