.navbar {
  margin-bottom: 40px;
}

.theme-toggle-btn {
  background-color: inherit;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  cursor: pointer;
}
