<div class="container">
  <div *ngIf="this.loading()" class="mt-5">
    <app-loader></app-loader>
  </div>

  <div *ngIf="!this.loading()" class="notes-card-container mt-2 mb-3">
    <div class="row">
      <div *ngFor="let note of this.notesList()" class="col-6">
        <p-card class="notes-card">
          <ng-template #header>
            <div class="notes-card-header">
              <div class="notes-card-title">
                {{ note.noteTitle }}
              </div>
              <div class="notes-card-actions">
                <p-button
                  pButton
                  pRipple
                  severity="warn"
                  [raised]="true"
                  [rounded]="true"
                  icon="pi pi-pencil"
                  (click)="this.handleNoteEdit(note.noteId)"
                />
                &nbsp;
                <p-button
                  pButton
                  pRipple
                  severity="danger"
                  [raised]="true"
                  [rounded]="true"
                  icon="pi pi-trash"
                  (click)="this.deleteNoteById(note.noteId)"
                />
              </div>
            </div>
          </ng-template>
          <ng-template #title>
            <h6 class="mb-4 p-2">
              Modified on {{ note.lastModifiedDate | date : "MMM dd, yyyy" }}
            </h6>
          </ng-template>

          <div class="mt-2 notes-card-content">
            <p class="p-2" style="font-size: x-large">
              {{ note.noteDescription }}
            </p>
          </div>
        </p-card>
      </div>
    </div>

    <div class="mt-4 text-center" *ngIf="this.isUserAuthenticated()">
      <p-button
        pButton
        pRipple
        size="small"
        [rounded]="true"
        icon="pi pi-plus"
        label="{{ notesContainerConstants.Headings.AddButtonText }}"
        routerLink="{{ angularRoutesConstants.AddNote.Link }}"
      />
    </div>

    <app-made-with></app-made-with>
  </div>
</div>
