<div class="container">
  <div *ngIf="loading()" class="mt-5">
    <app-loader></app-loader>
  </div>

  <div *ngIf="!loading()" class="notes-card-container mt-2 mb-3">
    <mat-card
      appearance="outlined"
      class="notes-card"
      *ngFor="let note of notesList()"
    >
      <mat-card-header class="notes-card-header">
        <mat-card-title class="notes-card-title">
          {{ note.noteTitle }}
        </mat-card-title>
        <div class="notes-card-actions">
          <button
            mat-fab
            class="custom-yellow-btn mr-2"
            (click)="navigateToEditNote(note.noteId)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          &nbsp;
          <button
            mat-fab
            class="custom-red-btn"
            color="warn"
            (click)="deleteNoteById(note.noteId)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-header>
      <h6 class="notes-card-subtitle mb-4 p-2 ml-2">
        Modified on {{ note.lastModifiedDate | date : "MMM dd, yyyy" }}
      </h6>
      <mat-card-content class="mt-2 notes-card-content">
        <p class="p-2" style="font-size: x-large">
          {{ note.noteDescription }}
        </p>
      </mat-card-content>
    </mat-card>

    <div class="mt-4 text-center" *ngIf="isUserAuthenticated()">
      <button
        mat-fab
        extended
        class="mb-3"
        routerLink="{{ angularRoutesConstants.AddNote.Link }}"
      >
        <span class="customFont">{{
          notesContainerConstants.Headings.AddButtonText
        }}</span>
      </button>
    </div>

    <app-made-with></app-made-with>
  </div>
</div>
