.notes-card-container {
  gap: 16px;
}

.notes-card {
  text-align: left;
}

.notes-card-header {
  display: flex;
  justify-content: space-between; /* Pushes the title to the left and the button to the right */
  align-items: center; /* Vertically aligns the title and button */
  height: 60px; /* Set a constant height for all headers */
  box-sizing: border-box; /* Ensure padding is included in the height */
  padding: 10px !important;
}

.notes-card-title {
  font-weight: bold;
  font-size: 2rem;
}

.notes-card-button {
  margin-left: auto; /* Ensures the button stays on the far right */
}

.notes-card-content {
  padding: 10px !important;
  margin-left: -10px !important;
}
