// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

/* SCSS variables */

$light-background-color: #ffffff;
$dark-default-color: #1a2025;
$dark-border-color: #555555;
$dark-background-color: #333333;
$dark-text-color: #bbbbbb;

// Define the dark theme palette
$dark-primary: mat.define-palette(mat.$blue-grey-palette);
$dark-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);
$dark-warn: mat.define-palette(mat.$red-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

/* Include Material Themes */
@include mat.all-component-themes($dark-theme);

/* CUSTOM CSS */
html,
body {
  font-family: "Dosis", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
input,
textarea {
  font-family: "Dosis", "Helvetica Neue", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.mainHeading {
  font-size: 3rem !important;
  margin-top: 20px !important;
}

.marginTop20 {
  margin-top: 20px !important;
}

.lead {
  font-size: 1.5rem !important;
  margin-top: 10px !important;
}

button {
  font-weight: bolder !important;
}

/* Light Theme */
body.light-theme {
  background-color: #f1efed;
  color: #000000;
}

body.light-theme .navbar {
  background-color: $dark-default-color !important;
  color: $light-background-color;
}

body.light-theme .mwc-card {
  background-color: #ffffff;
  color: $dark-border-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body.light-theme .mwc-card-image {
  border: 1px solid $dark-border-color;
}

body.light-theme .notes-card {
  background-color: #ffffff;
  color: $dark-border-color;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body.light-theme .notes-card-header {
  background-color: $dark-text-color;
  margin-top: 0px;
}

/* Dark Theme */
body.dark-theme {
  background-color: #121212;
  color: $light-background-color;
}

body.dark-theme .navbar {
  background-color: $dark-default-color !important;
  color: $light-background-color;
}

body.dark-theme .notes-card {
  background-color: $dark-background-color;
  color: $light-background-color;
}

body.dark-theme .notes-card-header {
  background-color: $dark-border-color;
  margin-top: 0px;
}

body.dark-theme .form-control {
  background-color: $dark-background-color;
  color: $light-background-color;
  border: 1px solid $dark-border-color;
}

body.dark-theme .form-control-plaintext {
  background-color: $dark-background-color;
  color: $light-background-color;
  border: 1px solid $dark-border-color;
}

body.dark-theme .form-control::placeholder {
  color: $dark-text-color;
}

body.dark-theme .form-label {
  color: $dark-text-color;
  background-color: $dark-background-color;
}

body.dark-theme .loginForm {
  color: $dark-text-color;
  background-color: $dark-background-color;
}

body.dark-theme .registerForm {
  color: $dark-text-color;
  background-color: $dark-background-color;
}

body.dark-theme .mwc-card {
  background-color: $dark-background-color;
  color: $light-background-color;
}

.customFont {
  font-family: "Helvetica Neue", sans-serif;
}

.start-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Optional: Add a semi-transparent background */
  z-index: 9999; /* Ensure it appears above other elements */
}
